body{
	background-color: tomato;
	background: url(tkamCover.jpg) center fixed;
	top: 0;
}
.container {
	margin:none;
	padding:none;
	top:0;
	text-align: center;

}
.container h1{
	margin-top:none;
	margin-bottom:15px;
	top:0px;
	color: #E0D582;
	background: black;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.employee {

	display: inline-block;
	background:rgba(242,236,189, .95);
	border:solid 2px black;
	border-radius:10px;
	padding:10px 15px;
	margin:15px 50px;
	color:black;
}